.gerardMain {
    margin-bottom: 50px;
}

.gerard {
    text-align: center;
}

.gerardPic {
    width: 550px;
}

@media screen and (max-width: 950px) {
    .gerardPic {
        width: 350px;
    }
}

.inputDiv {
    text-align: center;
}

.inputs {
    box-shadow: 0 2px 8px .3px;
    border: none;
    width: 250px;
    height: 30px;
}

.contactBtn {
    display: block;
    font-family: Arial Rounded MT Bold;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 15px auto;
    font-size: 18px;
}

@media screen and (max-width: 950px) {
    .inputs {
        box-shadow: 0 0 1px 1px rgb(161, 161, 161);
        border: gray;
    }
}