.gerard {
    text-align: center;
}

.inputDiv {
    margin-top: 20px;
    text-align: center;
}

.inputs {
    box-shadow: 0 2px 8px .3px;
    border: none;
    width: 200px;
}

.contactBtn {
    display: block;
    font-family: Arial Rounded MT Bold;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 15px auto;
    font-size: 18px;
}